# Verilator
obj_dir/
*.vcd

# Simulation logs
rtl.log
spike.log
regression.log

# Generated software image
sw/program.hex

# Regression build products
dv/tests/bin/

# Benchmark build products
dv/benchmarks/bin/
dv/benchmarks/results/
dv/riscv-tests-repo/

# Synthesis generated products
syn/reports/
syn/yosys/aether_generic.v

# Python
__pycache__/
*.pyc